:root{
  --normal: #A8A77A;
  --fire: #EE8130;
  --water: #6390F0;
  --electric: #F7D02C;
  --grass: #7AC74C;
  --ice: #96D9D6;
  --fighting: #C22E28;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #F95587;
  --bug: #A6B91A;
  --rock: #B6A136;
  --ghost: #735797;
  --dragon: #6F35FC;
  --dark: #705746;
  --steel: #B7B7CE;
  --fairy: #D685AD;
}

* {
  margin: 0;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home > p{
  text-align: center;
}

.home > h1{
  text-align: center;
  font-size: 1.5rem;
}

.toggle{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.toggle.activated{
  background-color: #161612;
  color: #dcdcdc;
}

.toggle.activated:hover{
  filter: brightness(120%);
}

.type-buttons{
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.type-button{
  border: none;
  border-radius: 5px;
  width: 100px;
  height: auto;
  padding: 10px 0;
  cursor: pointer;
  margin: 3px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

.type-pair{
  margin-top: 15px;
  flex: 0 0 100%;
  text-align: center;
}

.type-pair > span{
  margin: 2px;
  border-radius: 5px;
  padding: 2px 5px;
}

.type-pair{
  flex: 0 0 100%;
  text-align: center;
}

.type-button:hover{
  filter: brightness(80%);
}

.normal{
  background-color: var(--normal);
}
.fire{
  background-color: var(--fire);
}
.water{
  background-color: var(--water);
}
.electric{
  background-color: var(--electric);
}
.grass{
  background-color: var(--grass);
}
.ice{
  background-color: var(--ice);
}
.fighting{
  background-color: var(--fighting);
}
.poison{
  background-color: var(--poison);
}
.ground{
  background-color: var(--ground);
}
.flying{
  background-color: var(--flying);
}
.psychic{
  background-color: var(--psychic);
}
.bug{
  background-color: var(--bug);
}
.rock{
  background-color: var(--rock);
}
.ghost{
  background-color: var(--ghost);
}
.dragon{
  background-color: var(--dragon);
}
.dark{
  background-color: var(--dark);
}
.steel{
  background-color: var(--steel);
}
.fairy{
  background-color: var(--fairy);
}

.result{
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.result > span{
  width: 150px;
}

.type-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-list > li{
  width: 100px;
}



.type-button > span{
  color: red;
  background-color: white;
  border-radius: 100%;
  float: right;
  margin-right: 10px;
  width: 15px;
  text-align: center;
}

@media (max-width: 650px){
  .home > p{
    font-size: 0.75rem;
  }

  .home > h1{
    font-size: 1.25rem;
  }

  .type-buttons{
    width: 90%;
  }

  .type-button{
    width: 30%;
  }

  .type-button.selected{
    width: 100px;
  }

  .result > span{
    width: 240px;
  }

  .type-list li{
    width: 80px;
    height: 25px;
  }

  .result {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  .type-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .type-pair{
    margin-top: 10px;
  }
}