:root{
  --normal: #A8A77A;
  --fire: #EE8130;
  --water: #6390F0;
  --electric: #F7D02C;
  --grass: #7AC74C;
  --ice: #96D9D6;
  --fighting: #C22E28;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #F95587;
  --bug: #A6B91A;
  --rock: #B6A136;
  --ghost: #735797;
  --dragon: #6F35FC;
  --dark: #705746;
  --steel: #B7B7CE;
  --fairy: #D685AD;
}

* {
  margin: 0;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}








.type-buttons{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.type-button{
  border: none;
  border-radius: 5px;
  width: 100px;
  height: auto;
  padding: 10px 0;
  cursor: pointer;
  margin: 2px;
}

.type-pair{
  flex: 0 0 100%;
  text-align: center;
}

.type-button:hover{
  filter: brightness(80%);
}

.type-button.normal{
  background-color: var(--normal);
}
.type-button.fire{
  background-color: var(--fire);
}
.type-button.water{
  background-color: var(--water);
}
.type-button.electric{
  background-color: var(--electric);
}
.type-button.grass{
  background-color: var(--grass);
}
.type-button.ice{
  background-color: var(--ice);
}
.type-button.fighting{
  background-color: var(--fighting);
}
.type-button.poison{
  background-color: var(--poison);
}
.type-button.ground{
  background-color: var(--ground);
}
.type-button.flying{
  background-color: var(--flying);
}
.type-button.psychic{
  background-color: var(--psychic);
}
.type-button.bug{
  background-color: var(--bug);
}
.type-button.rock{
  background-color: var(--rock);
}
.type-button.ghost{
  background-color: var(--ghost);
}
.type-button.dragon{
  background-color: var(--dragon);
}
.type-button.dark{
  background-color: var(--dark);
}
.type-button.steel{
  background-color: var(--steel);
}
.type-button.fairy{
  background-color: var(--fairy);
}

.result{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}